.scrollPosition {
	display: flex;
	position: relative;
	top: -15px;
	justify-content: flex-end;
	margin: 5%;
	padding: 0%;
}

.carouselImg {
	position: relative;
	animation-name: carousel;
	animation-duration: 50s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	animation-timing-function: linear;
	transition: transform 0.2s;
}

.carouselImg:hover {
	animation-play-state: paused;
	transform: scale(1.5);
}

@keyframes carousel {
	0% {
		margin-top: -1500px;
	}
	100% {
		margin-top: 110px;
	}
}

@media screen and (max-width: 480px) {
	.scrollPosition {
		justify-content: center;
	}
}
