.footerText {
	position: relative;
	left: 400px;
	height: 18px;
	width: 100px;
	margin: 5px;
	font-family: 'Nunito Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 14px;
	letter-spacing: -0.016em;
	color: #80848f;
}
