.footerText {
	height: 18px;
	font-family: 'Nunito Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 14px;
	letter-spacing: -0.016em;
	color: #80848f;
	margin: 0 5 0 0%;
	padding: 0 0 0 30%;
}
