.btnAccordion:hover {
	position: relative;
	left: 10px;
	border-color: black;
}

.gallery-wrap {
	position: relative;
	top: 30px;
	left: -15px;
	display: flex;
	overflow: hidden;
	flex-direction: row;
	width: 70%;
	height: 85vh;
}

.item {
	flex: 1;
	height: 100%;
	width: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: none;
	transition: flex 0.8s ease;
}

.item:hover {
	flex: 40;
}
.item-1 {
	background-image: url('https://i.imgur.com/Zl3Sbh5.jpg');
}
.item-2 {
	background-image: url('https://i.imgur.com/W7CSpMW.jpg');
}
.item-3 {
	background-image: url('https://i.imgur.com/BMMgHu2.png');
}
.item-4 {
	background-image: url('https://i.imgur.com/Ltp1HK3.png');
}
.item-5 {
	background-image: url('https://i.imgur.com/vve34BZ.png');
}
.item-6 {
	background-image: url('https://i.imgur.com/zCkbRl8.png');
}
/* .item-7 {
	background-image: url('https://i.imgur.com/Ig26gGn.png');
}
.item-8 {
	background-image: url('https://i.imgur.com/3Hqdczg.jpg');
}
.item-9 {
	background-image: url('https://i.imgur.com/cHp457T.png');
}
.item-10 {
	background-image: url('https://i.imgur.com/Y0NMdlu.png');
}

.item-11 {
	background-image: url('https://i.imgur.com/ovq0nQH.png');
}
.item-12 {
	background-image: url('https://i.imgur.com/dtkqFuC.png');
}

.item-13 {
	background-image: url('https://i.imgur.com/0g6ZAfU.png');
} */
