@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap'rel='stylesheet');

.subHeader {
	height: 18px;
	font-family: 'Nunito Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
	align-content: center;
	letter-spacing: -0.016em;
	color: #80848f;
}

.subHeaderRight {
	position: relative;
	left: 70px;
}
