.clothesScroll {
  display: flex;
  position: relative;
  top: 30px;
  left: 800px;
}

.upArrow {
  position: relative;
  top: -1200px;
  left: 15px;
}

.downArrow {
  position: relative;
  top: 1200px;
  left: -260px;
}
