.hangerContainer {
	display: flex;
	position: relative;
	top: 80px;
}

.hangerBox {
	position: relative;
	top: -106px;
	margin: 0px;
	display: flex;
	animation-name: move;
	animation-duration: 30s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	animation-timing-function: linear;
	transition: transform 0.2s;
}

.hangerBox:hover {
	animation-play-state: paused;
	transform: scale(1.5);
}

@keyframes move {
	0% {
		margin-left: -4590px;
	}
	100% {
		margin-left: 50px;
	}
}
