.hangerContainer {
	display: flex;
	position: relative;
	top: 80px;
	padding: 15, 0px;
	margin: 15, 0px;
}

.hangerGroupContainer {
	height: 300px;
	width: 2000px;
	border: none;
	overflow: hidden;
	margin: 50 0px;
	padding: 10px;
}

.hangerBox {
	position: relative;
	top: -20px;
	margin: 0px;
	display: flex;
	animation-name: move;
	animation-duration: 30s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	animation-timing-function: linear;
	transition: transform 0.2s;
}

.hangerBox:hover {
	animation-play-state: paused;
	transform: scale(1.5);
}

@keyframes move {
	0% {
		margin-left: -4500px;
	}
	100% {
		margin-left: 100px;
	}
}
