.chevronLeft {
  position: relative;
  display: inline-block;
  top: 550px;
  left: -100px;
  color: #f5f4ef;
}

.chevronRight {
  position: relative;
  display: inline-block;
  top: 150px;
  left: 570px;
  color: #f5f4ef;
}

.specsPieces {
  position: relative;
  display: inline-block;
  top: 200px;
  left: 80px;
  height: 366px;
  width: 315px;
}

.topCircle {
  color: blue;
  position: relative;
  display: inline-block;
  top: 150px;
  left: -30px;
}

.bottomCircle {
  color: green;
  position: relative;
  display: inline-block;
  top: 200px;
  left: -374px;
}
