@import url("https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap"rel="stylesheet");

.slider {
  display: flex;
  position: relative;
  left: -300px;
  top: 150px;
  width: 500px;
  margin: 0 auto;
  height: 500px;
  overflow: hidden;
  white-space: nowrap;
}

.slider-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.slide {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.nextArrow {
  position: absolute;
  top: 50%;
  right: 0px;
  z-index: 999;
  color: #fff;
}

.backArrow {
  position: absolute;
  top: 50%;
  left: 0px;
  z-index: 999;
  color: #fff;
}

.rightArrow:before,
.leftArrow:before {
  color: #222;
}

.specsPieces {
  position: relative;
  display: inline-block;
  top: 150px;
  left: 100px;
  height: 366px;
  width: 315px;
}

.topCircle {
  color: #70634e;
  position: relative;
  display: inline-block;
  top: 320px;
  left: -20px;
}

.bottomCircle {
  color: #292f45;
  position: relative;
  display: inline-block;
  top: 335px;
  left: -20px;
}

.topColorSubTitle {
  position: relative;
  display: inline-block;
  top: 298px;
  left: 22px;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  display: flex;
  align-items: flex-end;
  letter-spacing: -0.0257895em;
  color: #ffffff;
}

.bottomColorSubTitle {
  position: relative;
  display: inline-block;
  top: 310px;
  left: 22px;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  display: flex;
  align-items: flex-end;
  letter-spacing: -0.0257895em;
  color: #ffffff;
}
