@import url("https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap"rel="stylesheet");

.container {
  display: flex;
  justify-content: right;
  margin: auto;
  padding: 0%;
}

.slider {
  position: relative;
  top: 15%;
  width: 500px;
  height: 600px;
  overflow: hidden;
  white-space: nowrap;
}

.slider-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.slide {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.nextArrow {
  position: absolute;
  top: 80%;
  right: 0%;
  z-index: 999;
  color: #fff;
}

.backArrow {
  position: absolute;
  top: 80%;
  left: 0%;
  z-index: 999;
  color: #fff;
}

.rightArrow:before,
.leftArrow:before {
  color: #222;
}

.topCircle,
.bottomCircle,
.extraCircle {
  display: inline-block;
  font-size: 70%;
  position: relative;
  top: 180px;
  width: 30px;
  margin: 10px;
}

.colorSubTitle {
  margin: 5px;
  position: relative;
  display: inline-block;
  top: 180px;
  left: -20px;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: -0.0257895em;
  color: #ffffff;
}

@media screen and (max-width: 480px) {
  .slider-wrapper {
    top: 0px;
    left: -30px;
  }
}
